Repository YaroshenkoAnna/async-race: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

build: add config files
  .DS_Store
  .eslintignore
  eslint.config.js
Due: eslint --fix, prettier --write

fix: fix errors with append method
  src/components/input/input.ts
  src/components/option/option.ts
  src/pages/options/options-page.ts
  src/utils/base-element.ts
Due: eslint --fix, prettier --write

feat: add implementation of router
  eslint.config.js
  src/components/input/input.ts
  src/components/main/main.module.scss
  src/components/main/main.ts
  src/components/modal/optional-input-modal.ts
  src/components/modal/validation-error-modal.ts
  src/components/option/option.ts
  src/constants/routes.ts
  src/main.ts
  src/pages/options/generate-options.ts
  src/pages/options/options-page.ts
  src/pages/wheel/wheel-page.module.scss
  src/pages/wheel/wheel-page.ts
  src/router/router.ts
  src/store/option-store.ts
  src/store/state.ts
  src/types/index.ts
  src/types/route.ts
Due: eslint --fix, prettier --write, stylelint --fix

build: add configuration
  .DS_Store
  .husky/commit-msg
Due: none

feat: add counter for id and implementation of adding buttons
  src/components/button/button.ts
  src/components/input/input.module.scss
  src/components/main/main.module.scss
  src/components/option/option.module.scss
  src/components/option/option.ts
  src/main.ts
  src/pages/options/options-page.module.scss
  src/pages/options/options-page.ts
  src/style.scss
  src/utils/counter.ts
Due: eslint --fix, prettier --write, stylelint --fix

build: add config
  .DS_Store
  .eslintignore
  .stylelintrc.json
  declarations.d.ts
  package-lock.json
  package.json
  src/main.ts
  src/style.scss
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

build: add config
  .DS_Store
  eslint.config.js
  index.html
  public/icon.png
  public/vite.svg
Due: eslint --fix, prettier --write

feat: add styles and refactor structure of option component
  src/components/button/button.module.scss
  src/components/button/button.ts
  src/components/input/input.ts
  src/components/main/main.module.scss
  src/components/main/main.ts
  src/components/option/option.ts
  src/components/title/title.module.scss
  src/components/title/title.ts
  src/main.ts
  src/pages/options/options-page.module.scss
  src/pages/options/options-page.ts
  src/style.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add button component
  declarations.d.ts
  src/assets/styles/variables.scss
  src/components/button/button.module.scss
  src/components/button/button.ts
  src/style.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: add OptionStore
  src/constants/numbers.ts
  src/store/state.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

feat: add implementation of filtration input data
  src/components/modal/modal.ts
  src/components/modal/optional-input-modal.ts
  src/types/index.ts
  src/utils/filter-valid-options.ts
  src/utils/parsing.ts
Due: eslint --fix, prettier --write

feat: add input component
  src/components/button/button.ts
  src/components/input/input.scss
  src/components/input/input.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: change types for optimization
  src/components/button/button.ts
  src/components/input/input.ts
  src/utils/base-element.ts
Due: eslint --fix, prettier --write

feat: implimate generation of option according input data and reset counter
  src/components/modal/optional-input-modal.ts
  src/components/option/option.ts
  src/pages/options/options-page.ts
  src/utils/base-element.ts
  src/utils/counter.ts
  src/utils/generate-options.ts
Due: eslint --fix, prettier --write

feat: add option component
  src/components/input/input.ts
  src/components/option/option.module.scss
  src/components/option/option.ts
  src/utils/base-element.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add layout of ValidationErrorModal
  src/components/modal/modal.module.scss
  src/components/modal/modal.ts
  src/components/modal/validation-error-modal.ts
  src/components/option/option.ts
  src/pages/options/options-page.ts
  src/utils/base-element.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add main component and create options page
  src/components/main/main.ts
  src/pages/options/options-page.module.scss
  src/pages/options/options-page.ts
Due: eslint --fix, prettier --write, stylelint --fix

build: add config files
  index.html
  package-lock.json
  package.json
  public/.DS_Store
  src/counter.ts
  src/main.ts
Due: eslint --fix, prettier --write

feat: add base-element
  src/utils/base-element.ts
Due: eslint --fix, prettier --write

feat: add title component
  src/components/title/title.module.scss
  src/components/title/title.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix problem with placeholder
  src/components/input/input.module.scss
  src/components/input/input.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add event emitter and observable
  .DS_Store
  eslint.config.js
  src/components/modal/optional-input-modal.ts
  src/constants/numbers.ts
  src/pages/options/generate-options.ts
  src/utils/counter.ts
  src/utils/event-emitter.ts
  src/utils/observable.ts
Due: eslint --fix, prettier --write

fix: fix problems with import of modules
  eslint.config.js
  package-lock.json
  package.json
  src/components/button/button.module.scss
  src/components/input/input.module.scss
  src/components/option/option.scss
  src/components/option/option.ts
  src/components/title/title.module.scss
  src/main.ts
  src/pages/options/options-page.ts
  tsconfig.json
  vite.config.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: add modal windows
  src/components/modal/modal.module.scss
  src/components/modal/modal.ts
  src/components/modal/optional-input-modal.ts
  src/components/modal/validation-error-modal.ts
  src/constants/texts.ts
  src/pages/options/options-page.ts
  src/utils/base-element.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add destroy of wheel
  src/components/wheel/wheel.ts
Due: eslint --fix, prettier --write

fix: change that new option add without weight
  src/components/option/option.ts
  src/components/wheel/wheel.ts
  src/pages/options/options-page.ts
  src/types/index.ts
Due: eslint --fix, prettier --write

fix: fix a loss of options when adding a new option
  eslint.config.js
  src/components/modal/optional-input-modal.ts
  src/components/option/option.ts
  src/pages/options/options-page.ts
  src/router/router.ts
  src/utils/base-element.ts
  src/utils/debounce.ts
  src/utils/event-emitter.ts
Due: eslint --fix, prettier --write

feat: add truncation the text
  src/pages/wheel/wheel-page.module.scss
  src/pages/wheel/wheel-page.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add auto complete value in time input
  src/constants/numbers.ts
  src/pages/wheel/wheel-page.ts
Due: eslint --fix, prettier --write

feat: add class Storage
  eslint.config.js
  src/pages/options/options-page.ts
  src/store/storage.ts
Due: eslint --fix, prettier --write

fix: fix adding new option withoot weight
  src/pages/options/options-page.ts
Due: eslint --fix, prettier --write

feat: add implementation output of picked option
  src/assets/styles/variables.scss
  src/components/wheel/wheel.ts
  src/pages/wheel/wheel-page.module.scss
  src/pages/wheel/wheel-page.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add spinning the wheel
  src/components/wheel/wheel.ts
  src/pages/wheel/wheel-page.ts
Due: eslint --fix, prettier --write

fix: fix reload the page with correct url
  src/main.ts
Due: eslint --fix, prettier --write

feat: add check for number valid options
  src/pages/options/guard.ts
  src/pages/options/options-page.ts
Due: eslint --fix, prettier --write

feat: add pointer
  src/components/wheel/wheel.ts
Due: eslint --fix, prettier --write

feat: add wheel and it segmenation
  public/victory.mp3
  src/components/wheel/wheel.module.scss
  src/components/wheel/wheel.ts
  src/pages/wheel/wheel-page.module.scss
  src/pages/wheel/wheel-page.ts
  src/utils/get-random-color.ts
  src/utils/get-random-number.ts
Due: eslint --fix, prettier --write, stylelint --fix

style: change styles
  src/components/option/option.module.scss
  src/style.scss
Due: prettier --write, stylelint --fix

feat: add saving and loading file
  src/pages/options/options-page.ts
  src/utils/counter.ts
  src/utils/load-file.ts
  src/utils/save-file.ts
Due: eslint --fix, prettier --write

feat: add validation duration
  src/constants/numbers.ts
  src/pages/options/options-page.ts
  src/pages/wheel/wheel-page.ts
  src/utils/are-validate-numbers.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.css)) or (any of: *.scss)
  stylelint --fix: (any of: *.css) or (any of: *.scss)
