Repository YaroshenkoAnna/async-race: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"]
}

fix: fix reloading of winners
  src/components/navigation/navigation.ts
  src/main.ts
  src/pages/not-found-page.ts
  src/pages/winners-page.ts
  src/store/garage-store.ts
Due: eslint --fix, prettier --write

Updates
  async-race/assets/index-DxcrtYls.js
  async-race/assets/index-sZ5UTyeP.js
  async-race/index.html
Due: eslint --fix, prettier --write

fix: fix bugs with pagination on the garage page
  src/components/form/form.ts
  src/components/navigation/navigation.ts
  src/pages/garage-page.module.scss
  src/pages/garage-page.ts
  src/pages/winners-page.module.scss
  src/pages/winners-page.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix rendering and pagination of winners
  src/pages/garage-page.ts
  src/pages/winners-page.ts
  src/store/garage-store.ts
Due: eslint --fix, prettier --write

style: add styles
  src/components/button/button.module.scss
  src/components/car-card/car-card.module.scss
  src/components/car-card/car-card.ts
  src/components/controls/controls.ts
  src/components/form/form.module.scss
  src/components/form/form.ts
  src/components/navigation/navigation.module.scss
  src/components/navigation/navigation.ts
  src/pages/garage-page.module.scss
  src/pages/garage-page.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: name in input of selected car
  src/components/form/form.ts
  src/pages/garage-page.ts
  src/store/garage-store.ts
Due: eslint --fix, prettier --write

Updates
  async-race/assets/index-B1ySSfpK.js
  async-race/assets/index-DK1HEuNF.css
  async-race/assets/index-DPAIh_1w.css
  async-race/assets/index-DxcrtYls.js
  async-race/index.html
Due: eslint --fix, prettier --write, stylelint --fix

style: add max-width
  src/style.scss
Due: prettier --write, stylelint --fix

Updates
  async-race/assets/index-BEd4LeX9.js
  async-race/assets/index-DK1HEuNF.css
  async-race/assets/index-DcaPhwk0.css
  async-race/index.html
Due: eslint --fix, prettier --write, stylelint --fix

feat: add standart relements
  .DS_Store
  eslint.config.js
  gitignore.txt
  husky/pre-commit
  index.html
  package-lock.json
  package.json
  src/components/button/button.ts
  src/components/input/input.ts
  src/pages/error-page/error-page.ts
  src/pages/info-page/info-page.ts
  src/pages/login-page/login-page.ts
  src/pages/main-page/main-page.ts
  src/router/router.ts
  src/router/routes.ts
  src/utils/base-element-common.ts
  src/utils/base-element.ts
  src/utils/base-svg-element.ts
  src/utils/event-emitter.ts
  src/utils/observable.ts
  tsconfig.json
  vite.config.js
  vite/.DS_Store
  vite/deps/_metadata.json
  vite/deps/package.json
Due: eslint --fix, prettier --write

feat: add error, info and login pages
  index.html
  public/error.png
  public/icon.svg
  scss.d.ts
  src/components/button/button.ts
  src/components/input/input.ts
  src/main.ts
  src/pages/error-page/error-page.module.scss
  src/pages/error-page/error-page.ts
  src/pages/info-page/info-page.module.scss
  src/pages/info-page/info-page.ts
  src/pages/login-page/login-page.module.scss
  src/pages/login-page/login-page.ts
  src/pages/main-page/main-page.ts
  src/router/router.ts
  src/router/routes.ts
  src/styles.module.scss
  src/utils/base-element.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: add validation authorization form
  src/components/input/input.module.scss
  src/components/input/input.ts
  src/core/event-emitter.ts
  src/core/observable.ts
  src/pages/login-page/login-page.module.scss
  src/pages/login-page/login-page.ts
  src/styles.module.scss
  src/validation/form-validator.ts
  src/view-model/form-view-model.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add connection to server
  src/components/connection-overlay/connection-overlay.module.scss
  src/components/connection-overlay/connection-overlay.ts
  src/core/observable.ts
  src/main.ts
  src/network/constants.ts
  src/network/helpers/create-unique-id.ts
  src/network/server-api.ts
  src/network/socket-client.ts
  src/network/types.ts
  src/pages/info-page/info-page.ts
  src/pages/login-page/login-page.ts
  src/view-model/form-view-model.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add authorization
  src/factories/page-factory.ts
  src/main.ts
  src/pages/login-page/login-page.ts
  src/pages/main-page/main-page.ts
  src/router/constants.ts
  src/router/router.ts
  src/router/routes.ts
  src/router/types.ts
  src/services/auth-service.ts
  src/stores/constants.ts
  src/stores/storage-service.ts
  src/stores/types.ts
  src/stores/user-store.ts
  src/validation/form-validator.ts
  src/view-model/login-view-model.ts
Due: eslint --fix, prettier --write

feat: add footer
  public/github.svg
  public/sprite.svg
  src/components/footer/footer.module.scss
  src/components/footer/footer.ts
  src/main.ts
  src/pages/main-page/main-page.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  async-race/assets/index--QJ4rq2I.css
  async-race/assets/index-BEd4LeX9.js
  async-race/assets/index-BndAIGH7.js
  async-race/assets/index-DcaPhwk0.css
  async-race/error.png
  async-race/flag.svg
  async-race/github.svg
  async-race/icon.svg
  async-race/index.html
  async-race/sprite.svg
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  fun-chat/assets/index--QJ4rq2I.css
  fun-chat/assets/index-BndAIGH7.js
  fun-chat/error.png
  fun-chat/github.svg
  fun-chat/icon.svg
  fun-chat/index.html
  fun-chat/sprite.svg
Due: eslint --fix, prettier --write, stylelint --fix

style: add styles for footer
  package.json
  public/github.svg
  public/rss.svg
  public/sprite.svg
  src/components/footer/footer.module.scss
  src/components/footer/footer.ts
  src/main.ts
  src/pages/login-page/login-page.module.scss
  src/styles.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix navigation
  src/main.ts
  src/pages/info-page/info-page.ts
  src/pages/login-page/login-page.ts
  src/pages/main-page/main-page.module.scss
  src/pages/main-page/main-page.ts
  src/router/router.ts
  src/router/routes.ts
  src/styles.module.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix reload the page
  src/components/contact/contact.module.scss
  src/components/contact/contact.ts
  src/factories/page-factory.ts
  src/main.ts
  src/network/socket-client.ts
  src/pages/login-page/login-page.ts
  src/pages/main-page/main-page.module.scss
  src/pages/main-page/main-page.ts
  src/router/router.ts
  src/services/auth-service.ts
  src/services/user-service.ts
  src/stores/user-store.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: render active and inactive users
  src/main.ts
  src/network/socket-client.ts
  src/pages/main-page/main-page.ts
  src/services/user-service.ts
  src/stores/user-store.ts
  src/view-model/login-view-model.ts
Due: eslint --fix, prettier --write

fix: add authorezation after reload
  src/main.ts
  src/services/auth-service.ts
  src/services/user-service.ts
  src/stores/constants.ts
  src/stores/user-store.ts
  src/view-model/login-view-model.ts
Due: eslint --fix, prettier --write

fix: exclude current user from list of users
  src/services/user-service.ts
  src/stores/user-store.ts
Due: eslint --fix, prettier --write

feat: implemate logout
  src/main.ts
  src/network/socket-client.ts
  src/pages/main-page/main-page.ts
  src/services/auth-service.ts
  src/stores/constants.ts
  src/stores/user-store.ts
  src/view-model/login-view-model.ts
Due: eslint --fix, prettier --write

feat: add filtration of contacts
  src/main.ts
  src/pages/main-page/main-page.ts
  src/stores/user-store.ts
Due: eslint --fix, prettier --write

feat: implement choosing user
  src/components/contact/contact.ts
  src/pages/main-page/main-page.ts
  src/services/auth-service.ts
  src/services/user-service.ts
Due: eslint --fix, prettier --write

fix: fix bug with double user in active and in inactive
  src/pages/main-page/main-page.ts
  src/services/user-service.ts
Due: eslint --fix, prettier --write

feat: implement sending messages
  src/components/message-item/message-item.module.scss
  src/components/message-item/message-item.ts
  src/components/message-list/message-list.module.scss
  src/components/message-list/message-list.ts
  src/main.ts
  src/pages/main-page/main-page.ts
  src/services/auth-service.ts
  src/services/message-service.ts
  src/stores/message-store.ts
  src/stores/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix display of chat with current user
  src/components/contact/contact.module.scss
  src/components/contact/contact.ts
  src/pages/main-page/main-page.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add indicators for unread messages
  src/pages/main-page/main-page.ts
  src/stores/message-store.ts
Due: eslint --fix, prettier --write

feat: add edit of messages
  src/components/confirmation-modal/confirmation-modal.module.scss
  src/components/confirmation-modal/confirmation-modal.ts
  src/components/message-item/message-item.module.scss
  src/components/message-item/message-item.ts
  src/components/message-item/set-active-message-item.ts
  src/components/message-list/message-list.module.scss
  src/components/message-list/message-list.ts
  src/network/server-api.ts
  src/pages/main-page/main-page.ts
  src/stores/message-store.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  fun-chat/assets/index--QJ4rq2I.css
  fun-chat/assets/index-BndAIGH7.js
  fun-chat/assets/index-CSpmJmx1.css
  fun-chat/assets/index-xSdOBrGn.js
  fun-chat/github.svg
  fun-chat/index.html
  fun-chat/rss.svg
  fun-chat/sprite.svg
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  fun-chat/assets/index-CSpmJmx1.css
  fun-chat/assets/index-DtC_5IKY.js
  fun-chat/assets/index-Kx8W-A89.css
  fun-chat/assets/index-xSdOBrGn.js
  fun-chat/index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  fun-chat/assets/index-BSxlRnMG.js
  fun-chat/assets/index-DL6Eh-yj.css
  fun-chat/assets/index-DtC_5IKY.js
  fun-chat/assets/index-Kx8W-A89.css
  fun-chat/index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  fun-chat/assets/index-BSxlRnMG.js
  fun-chat/assets/index-CoSFCb8K.js
  fun-chat/assets/index-DL6Eh-yj.css
  fun-chat/assets/index-M_t3PAVu.css
  fun-chat/index.html
Due: eslint --fix, prettier --write, stylelint --fix

Updates
  fun-chat/assets/index-BnEwRiWm.js
  fun-chat/assets/index-CoSFCb8K.js
  fun-chat/index.html
Due: eslint --fix, prettier --write

Updates
  fun-chat/assets/index-BnEwRiWm.js
  fun-chat/assets/index-CykItlgx.js
  fun-chat/assets/index-DYZ8Lbwp.css
  fun-chat/assets/index-M_t3PAVu.css
  fun-chat/index.html
Due: eslint --fix, prettier --write, stylelint --fix
